.colorTrans {
  animation: colorChange 10s linear 0s infinite; /* animation-name followed by duration in seconds*/
     /* you could also use milliseconds (ms) or something like 2.5s */
  -webkit-animation: colorChange 10s linear 0s infinite alternate; /* Chrome and Safari */
}

@keyframes colorChange
{
  0%   {color: red; color: cyan;}
  33%  {color: green; color: magenta;}
  66%  {color: blue; color: yellow;}
  100% {color: red; color: cyan;}
}

@-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */
{
  0%   {color: red; color: cyan;}
  33%  {color: green; color: magenta;}
  66%  {color: blue; color: yellow;}
  100% {color: red; color: cyan;}
}

.rounded {
  border-radius: 100px !important;
}
