.colorTrans {
  animation: colorChange 10s linear 0s infinite; /* animation-name followed by duration in seconds*/
     /* you could also use milliseconds (ms) or something like 2.5s */
  -webkit-animation: colorChange 10s linear 0s infinite alternate; /* Chrome and Safari */
}

@keyframes colorChange
{
  0%   {color: red; color: cyan;}
  33%  {color: green; color: magenta;}
  66%  {color: blue; color: yellow;}
  100% {color: red; color: cyan;}
}

@-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */
{
  0%   {color: red; color: cyan;}
  33%  {color: green; color: magenta;}
  66%  {color: blue; color: yellow;}
  100% {color: red; color: cyan;}
}

::-webkit-scrollbar {
  width: 0.5rem;
  border-radius: 3rem;
  border: 1px solid #d5d5d5;
}

::-webkit-scrollbar-track {
  border-radius: 0;
  border-radius: 3rem;
  background: #eeeeee;
}

::-webkit-scrollbar-thumb {
  border-radius: 0;
  background: #b0b0b0;
  border-radius: 3rem;
} 